<include href="views/Dating.html">
    <body>

    <h1>Interests</h1>
    <form id="form3" action="summary" method="post">
        <label>In-door Interests</label><br>
        <input type="checkbox" name="tv" value="tv">tv
        <input type="checkbox" name="movies" value="movies">movies
        <input type="checkbox" name="cooking" value="cooking">cooking
        <input type="checkbox" name="board games" value="board games">board games<br>
        <input type="checkbox" name="puzzles" value="puzzles">puzzles
        <input type="checkbox" name="reading" value="reading">reading
        <input type="checkbox" name="playing cards" value="playing cards">playing cards
        <input type="checkbox" name="video games" value="video games">video games<br>

        <label>Out-door Interests</label><br>
        <input type="checkbox" name="hiking" value="hiking">hiking
        <input type="checkbox" name="biking" value="biking">biking
        <input type="checkbox" name="swimming" value="swimming">swimming
        <input type="checkbox" name="collecting" value="collecting">collecting<br>
        <input type="checkbox" name="walking" value="walking">walking
        <input type="checkbox" name="climbing" value="climbing">climbing

        <button type="submit">Next >></button>
    </form>

    </body>
    </html>