<!--
Nick Gadomskiy
1/18/20
Dating profile assignment
-->

<include href="views/Dating.html">
    <body>
    <div class="container">
        <span class="border border-dark rounded">
            <h1 id="interestsH1"><strong>Interests</strong></h1>
            <hr class="short">
            <form id="form3" action="#" method="post">

                <h3><strong>In-door Interests</strong></h3>
                <check if="{{ @errors['indoorSelected'] }}">
                    <span class="err">{{ @errors['indoorSelected'] }}</span>
                </check>
                <div class="align">
                    <repeat group="{{ @indoor }}" value="{{ @indoorOption }}">
                        <label><input type="checkbox" name="indoor[]" value="{{ @indoorOption}}"
                            <check if="{{ isset(@indoorSelected) && in_array(@indoorOption, @indoorSelected) }}">
                                checked = "checked"
                            </check>
                            >{{ @indoorOption }}
                        </label>
                    </repeat>
                    <br>
                </div>
                <br>

                <h3><strong>Out-door Interests</strong></h3>
                <check if="{{ @errors['outdoorSelected'] }}">
                    <span class="err">{{ @errors['outdoorSelected'] }}</span>
                </check>
                <div class="align">
                    <repeat group="{{ @outdoor }}" value="{{ @outdoorOption }}">
                        <label><input type="checkbox" name="outdoor[]" value="{{ @outdoorOption}}"
                            <check if="{{ isset(@outdoorSelected) && in_array(@outdoorOption, @outdoorSelected) }}">
                                checked = "checked"
                            </check>
                                >{{ @outdoorOption }}
                        </label>
                    </repeat>
                </div>


                <div class="btn-bottom">
                    <button type="submit" class="btn btn-primary" id="next2">Next ></button>
                </div>
            </form>
        </span>
    </div>
    </body>
    </html>