<!--
Nick Gadomskiy
1/18/20
Dating profile assignment
-->

<include href="views/Dating.html">
    <body>
    <div class="container">
        <span class="border border-dark rounded">
            <h1 id="interestsH1"><strong>Interests</strong></h1>
            <hr class="short">
            <form id="form3" action="summary" method="post">
                <h3><strong>In-door Interests</strong></h3>
                <div class="align">
                <div class="form-check form-check-inline"><br>
                    <input type="checkbox" name="check_list[]" class="form-check-input" id="tv">
                    <label class="form-check-label" for="tv">tv</label>
                </div>
                <div class="form-check form-check-inline"><br>
                    <input type="checkbox" name="check_list[]" class="form-check-input" id="movies">
                    <label class="form-check-label" for="movies">movies</label>
                </div>
                <div class="form-check form-check-inline"><br>
                    <input type="checkbox" name="check_list[]" class="form-check-input" id="cooking">
                    <label class="form-check-label" for="cooking">cooking</label>
                </div>
                <div class="form-check form-check-inline"><br>
                    <input type="checkbox" name="check_list[]" class="form-check-input" id="board games">
                    <label class="form-check-label" for="board games">board games</label>
                </div><br>
                <div class="form-check form-check-inline"><br>
                    <input type="checkbox" name="check_list[]" class="form-check-input" id="puzzles">
                    <label class="form-check-label" for="puzzles">puzzles</label>
                </div>
                <div class="form-check form-check-inline"><br>
                    <input type="checkbox" name="check_list[]" class="form-check-input" id="reading">
                    <label class="form-check-label" for="reading">reading</label>
                </div>
                <div class="form-check form-check-inline"><br>
                    <input type="checkbox" name="check_list[]" class="form-check-input" id="playing cards">
                    <label class="form-check-label" for="playing cards">playing cards</label>
                </div>
                <div class="form-check form-check-inline"><br>
                    <input type="checkbox" name="check_list[]" class="form-check-input" id="video games">
                    <label class="form-check-label" for="video games">video games</label>
                </div>
                </div>

                <br>
                <h3><strong>Out-door Interests</strong></h3>
                <div class="align">
                <div class="form-check form-check-inline"><br>
                    <input type="checkbox" name="check_list[]" class="form-check-input" id="hiking">
                    <label class="form-check-label" for="hiking">hiking</label>
                </div>
                <div class="form-check form-check-inline"><br>
                    <input type="checkbox" name="check_list[]" class="form-check-input" id="biking">
                    <label class="form-check-label" for="biking">biking</label>
                </div>
                <div class="form-check form-check-inline"><br>
                    <input type="checkbox" name="check_list[]" class="form-check-input" id="swimming">
                    <label class="form-check-label" for="swimming">swimming</label>
                </div>
                <div class="form-check form-check-inline"><br>
                    <input type="checkbox" name="check_list[]" class="form-check-input" id="collecting">
                    <label class="form-check-label" for="collecting">collecting</label>
                </div>
                <div class="form-check form-check-inline"><br>
                    <input type="checkbox" name="check_list[]" class="form-check-input" id="walking">
                    <label class="form-check-label" for="walking">walking</label>
                </div>
                <div class="form-check form-check-inline"><br>
                    <input type="checkbox" name="check_list[]" class="form-check-input" id="climbing">
                    <label class="form-check-label" for="climbing">climbing</label>
                </div>
                </div>

                <div class="btn-bottom">
                    <button type="submit" class="btn btn-primary" id="next2">Next ></button>
                </div>
            </form>
        </span>
    </div>
    </body>
    </html>