<include href="views/Dating.html">
    <body>
    <ul>
        <li>
            <a href="home.html">My Dating Website</a>
        </li>
    </ul>

    <h1>Personal Information</h1>
    <form id="form1" action="profile" method="post">
        <label for="fname">First Name: <br></label>
        <input id="fname" type="text" name="fname"><br>

        <label for="lname">Last Name: <br></label>
        <input id="lname" type="text" name="lname"><br>

        <label for="age">Age: <br></label>
        <input id="age" type="text" name="age"><br>

        <input type="radio" name="gender" value="Male">Male
        <input type="radio" name="gender" value="Female">Female<br>

        <label for="phone">Phone Number: <br></label>
        <input id="phone" type="text" name="phone"><br>

        <button type="submit">Next ></button>
    </form>

    </body>
    </html>