<!--
Nick Gadomskiy
1/18/20
Dating profile assignment
-->

<include href="views/Dating.html">

    <body>
        <div class="container">
            <span class="border border-dark rounded">
            <h1 id="personalH1">Personal Information</h1>
            <hr class="short">
            <form id="form1" method="post" action="#">
                <div class="form-group">
                    <label for="fname"><strong>First Name: </strong>
                        <input id="fname" type="text" class="form-control" name="fname" value="{{ @fname}}"><br>
                    </label>
                    <check if="{{ @errors['fname'] }}">
                        <span class="err">{{ @errors['fname'] }}</span>
                    </check>

                    <label for="lname"><strong>Last Name: </strong>
                        <input id="lname" type="text" class="form-control" name="lname" value="{{ @lname}}"><br>
                    </label>
                    <check if="{{ @errors['lname'] }}">
                        <span class="err">{{ @errors['lname'] }}</span>
                    </check>

                    <label for="age"><strong>Age: </strong>
                        <input id="age" type="text" class="form-control" name="age" value="{{ @age }}"><br>
                    </label>
                    <check if="{{ @errors['age'] }}">
                        <span class="err">{{ @errors['age'] }}</span>
                    </check>

                    <label><strong>Gender: </strong></label><br>
                    <repeat group="{{ @genders }}" value="{{ @genderOption }}">
                        <label><input type="radio" name="gender" value="{{ @genderOption }}"
                                <check if ="{{ @gender == @genderOption }}">
                                    checked = "checked"
                                </check>
                            >{{ @genderOption }}
                        </label>
                    </repeat><br>
                    <check if ="{{ @errors['gender'] }}">
                        <span class="err">{{ @errors['gender'] }}</span>
                    </check><br>

                    <label for="phone"><strong>Phone Number: </strong></label><br>
                    <input id="phone" type="text" class="form-control" name="phone"><br>
                </div>

                <div class="btn">
                    <div class="note">
                        <p><strong>Note:</strong> All information entered is protected by our
                            <a href="">privacy policy</a>. Profile information can only be viewed by others with
                        your permission.</p>
                    </div>

                    <div class="btn-bottom">
                        <button type="submit" class="btn btn-primary" value="next" id="next">Next ></button>
                    </div>
                </div>

            </form>
            </span>
        </div>
    </body>
    </html>