<!--
Nick Gadomskiy
1/18/20
Dating profile assignment
-->

<include href="views/Dating.html">
    <body>
    <div class="container">
        <span class="border border-dark rounded">
            <h1 id="profileH1">Profile</h1>
            <hr class="short">
            <form id="form2" action="#" method="post">
                <div class="form-group" id="profile">
                    <label for="email"><strong>Email: </strong>
                        <input id="email" type="text" class="form-control" name="email" value="{{ @email}}"><br>
                    </label>
                    <check if="{{ @errors['email'] }}">
                        <span class="err">{{ @errors['email'] }}</span>
                    </check><br>

                    <label><strong>State:</strong>
                        <select name="state">
                            <repeat group="{{ @states }}" value="{{ @state}}" >
                                <option value="{{ @state }}"
                                        <check if="{{ @location == @state }}">
                                            selected = "selected"
                                        </check>
                                >{{ @state }}
                            </repeat>
                        </select>
                    </label><br>

                    <label class="text-left"><strong>Gender: </strong></label><br>
                    <repeat group="{{ @seek }}" value="{{ @seekingOption }}">
                        <label><input type="radio" name="seeking" value="{{ @seekingOption }}"
                                <check if ="{{ @seeking == @seekingOption }}">
                                    checked = "checked"
                                </check>
                            >{{ @seekingOption }}
                        </label>
                    </repeat><br>
                    <check if ="{{ @errors['seeking'] }}">
                        <span class="err">{{ @errors['seeking'] }}</span>
                    </check><br>
                </div>

                <div class="btn1">
                    <div class="form-group">
                        <label for="biography"><strong>Biography</strong><br></label>
                        <textarea id="biography" class="form-control" rows="4" name="biography"></textarea>
                    </div>
                    <!--<div>
                        <label><strong>Biography</strong><br>
                            <textarea name="bio"></textarea>
                        </label>
                        <check if="{{ @errors['bio'] }}">
                            <span class="err">{{ @errors['bio'] }}</span>
                        </check><br><br>
                    </div>-->

                    <div class="btn-bottom">
                        <button type="submit" class="btn btn-primary" id="next1">Next ></button>
                    </div>
                </div>

            </form>
        </span>
    </div>
    </body>
    </html>