<!--
Nick Gadomskiy
1/18/20
Dating profile assignment
-->

<include href="views/Dating.html">
    <body>
        <div class="container">
            <span class="border border-dark rounded">
                <div class="container" id="summary">
                    <span class="border border-dark rounded">
                    <p>Name: {{ @SESSION.form1a }} {{ @SESSION.form1b }}</p>
                    <hr>
                    <p>Gender: {{ @SESSION.form1d }}</p>
                    <hr>
                    <p>Age: {{ @SESSION.form1c }}</p>
                    <hr>
                    <p>Phone: {{ @SESSION.form1e }}</p>
                    <hr>
                    <p>Email: {{ @SESSION.form2a }}</p>
                    <hr>
                    <p>State: {{ @SESSION.form2b }}</p>
                    <hr>
                    <p>Seeking: {{ @SESSION.form2c }}</p>
                    <hr>
                    <p>Interests: {{ @SESSION.form3a }}</p>
                    </span>
                </div>
                <div class="bio">
                    <img src="images/icon.jpg"  id="icon" alt="icon">
                    <h2>Biography</h2>
                    <p>{{ @SESSION.form2d }}</p>
                    <div class="contact">
                        <button type="submit" class="btn btn-primary" id="contact">Contact Me!</button>
                    </div>
                </div>
            </span>
        </div>
    </body>
    </html>