<!--
Nick Gadomskiy
1/18/20
Dating profile assignment
-->

<include href="views/Dating.html">
    <body>
        <div class="container">
            <span class="border border-dark rounded">
                <div class="container" id="summary">
                    <span class="border border-dark rounded">
                    <p>Name: {{ @SESSION.fname }} {{ @SESSION.lname }}</p>
                    <hr>
                    <p>Gender: {{ @SESSION.gender }}</p>
                    <hr>
                    <p>Age: {{ @SESSION.age }}</p>
                    <hr>
                    <p>Phone: {{ @SESSION.phone }}</p>
                    <hr>
                    <p>Email: {{ @SESSION.email }}</p>
                    <hr>
                    <p>State: {{ @SESSION.location }}</p>
                    <hr>
                    <p>Seeking: {{ @SESSION.seeking }}</p>
                    <hr>
                    <p>Interests: {{ implode(", ", @SESSION.indoor) }}, {{ implode(", ", @SESSION.outdoor) }}</p>
                    </span>
                </div>
                <div class="bio">
                    <img src="images/icon.jpg"  id="icon" alt="icon">
                    <h2>Biography</h2>
                    <p>{{ @SESSION.bio }}</p>
                    <div class="contact">
                        <button type="submit" class="btn btn-primary" id="contact">Contact Me!</button>
                    </div>
                </div>
            </span>
        </div>
    </body>
    </html>