
.content {
    float: left;
    width: 45%
}

.image {
    float: right;
    width: 45%;
}

img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    margin-top: 40px;
}

ul {
    list-style-type: none;
    background-color: lightgray;
}

li {
    display: inline;
}

h1 {
    padding-top: 40px;
    text-align: center;
}

h2 {
    text-align: center;
}

.quotes {
    font-style: italic;
    padding-left: 3em;
    padding-right: 3em;
}

form {
    text-align: center;
    margin-top: 20px;
}

.all {
    border-style: solid;
    border-color: lightgray;
    margin: 40px 75px;
}

hr {
    display: block;
    margin: 0.5em auto;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.btn {
    float: right;
    width: 30%;
    margin-right: 30px;
    margin-top: 30px;
}

.note {
    background-color: lightgray;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
}

.form-group {
    float: left;
    width: 55%;
    margin-left: 30px;
    text-align: left;
}

span {
    display: inline-block;
    width: 90%;
    height: auto;
    margin: 20px;
    background-color: white;
}

hr {
    margin-right: 30px;
    margin-left: 30px;
}

#personalH1, #profileH1{
    text-align: left;
    padding-left: 30px;
}

.btn {
    position: relative;
}

.btn-bottom div {
    display: inline-block;
}

#next {
    position: relative;
    right: 0;
    bottom: -160px;
}

.text {
    float: right;
    width: 70%;
}